.container-login,
.container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container-register{
    margin-bottom: 50px;
}

.container-login h1,
.container-register h1{
    color: var(--main-color);
}

.container-register h1 {
    margin-bottom: 0;
}
.container-register p{
    margin-top: 10px;
}


.container-auth{
    border: 5px solid var(--main-color);
    border-radius: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.container-dati-login,
.container-dati-registrazione{
    height: 45px;
    margin-top: 10px;
    padding: 10px 20px;
    align-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-dati-login_errors ul{
    display: flex;
    justify-content: center;
    margin: 2px 0 0 0;
}

.container-dati-login_errors .errors{
    font-size: 12px;
    color: darkred;
    padding: 0;
}

.container-dati-login label, .container-dati-registrazione label{
    position: absolute;
    margin-left: 11px;
    margin-top: 2px;
    font-size: 15px;
}


.errors {
     color: red;
     border: 1px solid red;
     padding: 5px;
     border-radius: 4px;
     margin-top: 5px;
}






.container-dati-login input,
.container-dati-registrazione .input
{
    font-size: 17px;
    padding-top: 20px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding-left: 10px;
    color: var(--main-color);
}


.container-dati-login input:focus,
.container-dati-login input:hover,
.container-dati-registrazione .input:focus,
.container-dati-registrazione .input:hover{
    box-shadow: 0px 0px 10px #7b7e9d;
    outline: none;
    background-color: rgb(232, 240, 254);
}


.container-dati-login span,
.container-dati-registrazione span{
    color: var(--main-color);
    position: absolute;
    left: 20px;
    top: 13px;
    pointer-events: none;
    font-size: 13px;
}

.container-auth .wrap-input{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.container-auth .wrap-input p {
    margin: 0;
}

.container-auth .wrap-input p a{
    cursor: pointer;
    color: #1877f2;
}

.container-auth form .container-autenticazione_button,
.form-registrazione .container-autenticazione_button
{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container-auth form .container-autenticazione_button .submit-button,
.form-registrazione .container-autenticazione_button .submit-button{
    display: inline-block;
    width: 25%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.container-auth form .container-autenticazione_button .submit-button:hover {
    box-shadow: 0px 0px 10px #7b7e9d;
}


.container-form-register{
    width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: auto;
}

.form-registrazione{
    border: 5px solid var(--main-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: auto;
}
