.container-barra_ricerca{
    display: flex;
    justify-content: center;
    align-content: center;
}

.barra-ricerca form{
    display: grid;
    grid-template-columns: 60% 32% 8%;
    padding: 5px;

    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid var(--main-color);
    align-items: center;
}
.barra-ricerca form button{
    border: none;
    cursor: pointer;
}

.barra-ricerca-aziende form{
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 5px;

    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid var(--main-color);
    align-items: center;
}

.barra-ricerca form:hover,
.barra-ricerca-aziende form:hover{
    box-shadow: 1px 1px 3px var(--main-color);
}


.input-form{
    display: grid;
    grid-template-columns: 70% 30%;
}


.lente-ricerca{
    max-width: 100%;
}


.barra-ricerca input ,
.barra-ricerca-aziende input{
    font-size: 15px;
    padding: 5px;
    background-color: transparent;
}

.barra-ricerca input:focus,
.barra-ricerca-aziende input:focus{
    outline: none;
}

.ricerca-offerta{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1.5px solid var(--main-color);
}

.ricerca-azienda{
    border: none;
}


.catalogo{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
    margin-bottom: 40px;
}

.catalogo-offerte{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;

}

.catalogo-offerte .filters{
    width: 100%;
    margin: 20px 0;


}

.catalogo-offerte .filters h2{
    padding: 10px 10px;
    margin: 0;
    color: white;

}

.accordion-panel{
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    color: white;
}

.catalogo .accordion{
    background-color: var(--main-color);
    color: white;
    margin-bottom: 0;
}

.accordion-panel fieldset{
    border: 0;

}

.filter-items form{
    display: flex;
    flex-direction: column;
}
.filter-items form label{
    margin-top: 10px;
}

.offerte{
    background-color: white;
    border-radius: 0 20px 20px 0;
}

.filter-items{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.filter-items label{
    margin-top: 20px;
}

.filter-items .submit_scontistica{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: var(--main-color);
    padding: 2px 0;
}

.filter-items .submit_scontistica:hover{
    cursor: pointer;
}

.offerte {
    display: grid;
    grid-template-columns: repeat(3, calc(770px/ 3));
    width: 100%;
    margin: auto;
}

.catalogo .container-offerte {
    background-color: white;
    padding: 15px;
    border-radius: 0 20px 20px 0;
}

.offerte .card {
    width: 250px;
    margin-top: 20px ;
}

/*pagination*/
/* Classe per il contenitore del paginator */
.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Classe per il wrapper dei link di navigazione */
.paginator .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/* Classe per i singoli link di navigazione */
.paginator .pagination li {
    margin: 0 4px;
}

/* Classe per i link di navigazione attivi */
.paginator .pagination li.active a {
    color: #ffffff;
    background-color: #3490dc;
    border-color: #3490dc;
}

/* Classe per i link di navigazione */
.paginator .pagination li a,
.paginator .pagination li span
{
    color: #3490dc;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 1px solid black;
}

.paginator .pagination li span{
    color: black;

}

/* Classe per i link di navigazione al passaggio del mouse */
.paginator .pagination li a:hover {
    background-color: black;
    color: white;
}


/* Nascondi tutto tranne i numeri delle pagine e i pulsanti */
.paginator .pagination li {
    display: none;
}

.paginator .pagination li:active {


}

.paginator .pagination li:first-child,
.paginator .pagination li:last-child,
.paginator .pagination li.active,
.paginator .pagination li.active ~ li {
    display: inline;
    padding: 8px 0;
}
