:root {
    --main-color: /*#AB8F6D*/ /* #252850*/ #363945;
    --color-white: white;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.container-errore_generazione{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}


.barra-superiore_coupon{
    top: 0;
    right: 0;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.barra-superiore_coupon  a{
    display: flex;
    justify-content: center;

}

.barra-superiore_coupon img{
    width: 6%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: var(--main-color);
}

.container-coupon_string .coupon_string{
    border: solid 2px var(--main-color);
    padding: 5px;
    border-radius: 5px;
}

.container-coupon_string h4{
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

.container-dati_utente p{
    color: var(--main-color);
    font-size: large;
}

.container-offerta{
    width: 1000px;
    display: grid;
    grid-template-columns: 43% 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
    color: var(--main-color);
}

.container-offerta .container-logo_azienda img{
    width: 100%;
}


.container-offerta_dati {
    display: flex;
    flex-direction: column;
}

