:root {
    --main-color: /*#AB8F6D*/ /* #252850*/ #363945;
    --color-white: white;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}


.barra-superiore_coupon{
    top: 0;
    right: 0;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.barra-superiore_coupon  a{
    display: flex;
    justify-content: center;

}

.barra-superiore_coupon img{
    width: 6%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.container-offerta{
    width: 1000px;
    display: grid;
    grid-template-columns: 43% 1fr 1fr;
    grid-gap: 50px;
    margin-top: 100px;
}

.container-offerta .container-logo_azienda img{
    width: 100%;
}
