.container-gestione_titolo{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: var(--main-color);
}


.container-pannello{
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 30px auto auto;

    border: solid 5px var(--main-color);
    border-radius: 10px;
    padding: 30px 5px;
}


.container-pannello_staff{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
}

.container-pannello_staff h2 {
    color: var(--main-color);
}
.container-gestione_pacchetto,
.container-gestione_offerte {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-gestione_pacchetto h4 a,
.container-gestione_offerte h4 a{

    color: var(--main-color);
    cursor: pointer;
    padding: 5px 5px;
    transition: all 0.3s;
    text-decoration: none;

}

.container-gestione_pacchetto h4:hover a,
.container-gestione_offerte h4:hover a{

    background-color: var(--main-color);
    color: white;

}






