.container-gestione_titolo{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: var(--main-color);
}



.container-pannello{
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 30px auto auto;

    border: solid 5px var(--main-color);
    border-radius: 10px;
    padding: 30px 5px;
}


.container-pannello_staff{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
}

.container-pannello_staff-noPacchetti{
    display: flex;
    justify-content: center;
}
.container-pannello_staff-noPacchetti div {
    color: var(--main-color);
}

.container-pannello_staff h2 {
    color: var(--main-color);
}
.container-gestione_pacchetto,
.container-gestione_offerte {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-gestione_pacchetto h4 a,
.container-gestione_offerte h4 a{

    color: var(--main-color);
    cursor: pointer;
    padding: 5px 5px;
    transition: all 0.3s;
    text-decoration: none;

}

.container-gestione_pacchetto h4:hover a,
.container-gestione_offerte h4:hover a{

    background-color: var(--main-color);
    color: white;

}


/* Gestione admin */
.container-pannello_ad {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: auto auto;
    border: solid 5px var(--main-color);
    border-radius: 10px;
    padding: 10px 5px;
}

.container-pannello_ad .grid-item {
    padding: 20px;
}

.container-pannello_ad {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.container-pannello_admin h2 {
    color: var(--main-color);
}

.container-gestione_aziende,
.container-gestione_staff,
.container-gestione_admin {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-gestione_aziende h4 a,
.container-gestione_staff h4 a,
.container-gestione_admin h4 a{

    color: var(--main-color);
    cursor: pointer;
    padding: 5px 5px;
    transition: all 0.3s;
    text-decoration: none;

}

.container-gestione_aziende h4:hover a,
.container-gestione_staff h4:hover a,
.container-gestione_admin h4:hover a{

    background-color: var(--main-color);
    color: white;

}






