.container-profile{
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container-logouser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}
.container-logouser i {
    font-size: 70px;
}

.container-profile .data {
    padding: 20px;
}

.container-profile i{
    cursor: pointer;
}

.container-profile .data p {
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
}

.container-profile .data p i {
float: right;
}

.container-coupon-riscattati{
    max-width:800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

}
.container-coupon-riscattati table {
    width: 800px;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;


}



table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid black;
}


table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td
 {
    border-bottom: 1px solid black;
}

table th, table td{
    padding: 10px;
    text-align: center;
}
table tr:nth-child(1){
    background-color: var(--main-color);
    color: white;
}



