.container-generale-profile {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-generale-password{
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.container-profile{
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: auto;

}
/*logo pagina profilo */
.container-logouser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-logouser i {
    font-size: 70px;
}
/*fine logo pagina profilo*/

.container-profile .data {
    padding: 20px;
}


.container-profile .data p {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #00000085;
}


.container-coupon-riscattati{
    max-width:800px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

}
.container-coupon-riscattati table {
    width: 800px;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;


}



table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid black;
}


table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td
 {
    border-bottom: 1px solid black;
}

table th, table td{
    padding: 10px;
    text-align: center;
}
table tr:nth-child(1){
    background-color: var(--main-color);
    color: white;
}


.form-modifica-dati .input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px #00000085;
}

.form-modifica-dati .select{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0px #00000085;
    display: inline;
}


.form-modifica-dati .submit-button{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 50%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;

}



.container-generale-password form .submit-button{
    margin-top: 20px;
}
/*bottoni per la modifica vista visualizza profilo  */
.options-user{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.options-user a {
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 15px;
    color: white;
    display: inline;
    width: 48%;
    border: none;
    cursor: pointer;
    margin: 0 2%;
    text-decoration: none;
    text-align: center;

}
/*fine bottoni per la modifica vista visualizza profilo */

/*modifica indirizzo*/
#citta-input{
    width: 49%;
    display: inline;
}
#numero_civico-input{
    display: inline;
    width: 49%;
}
#via-input{
    margin-top: 10px;
}

/*fine modifica indirizzo*/

.container-generale-profile .back-button,
.container-generale-password .back-button{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 0;
    width: 50%;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 15px;

}

.message-modifica-password-fail{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    color: red;
    font-weight: bold;
}

.message-modifica-password-success{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    color: green;
    font-weight: bold;
}
